body{
    margin: 0;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: #33aaab;
    display:flex;
    justify-content: center;
    align-items: center;
}

.start-page{
    height: 50%;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20%;
    justify-content: center;
    align-items: center;
}

.input-container{
    width: 100%;
    display: flex; 
    justify-content: space-around;
}

#reset{
    margin: 30px;
    align-self: flex-start;
    justify-self: flex-end;
    padding: 5px; 
    font-size: 2rem;
    border: 3px solid black;
    border-radius: 15px;
    background-color: yellow;
}

.game-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    
}

.players-container{
    margin-top: 50px;
    width: 500px;
    display: flex;
    justify-content: space-evenly;

}

.name-container{
    margin: 10px;
    padding: 10px;
    background-color: #fff;
}

#run{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    background-color: #0ae2ff;
    border: 5px solid #aaa; 
    border-radius: 10px;
}

#run:hover, #reset:hover{
    background-color: #aadd78;
    cursor: pointer;
}

#input-player1, #input-player2{
    box-sizing: border-box;
    height: 50px;
    font-size: 2rem;
    border: 3px solid black;
    border-radius: 20px;
    padding: 5px 10px;
}

#input-player1:focus, #input-player2:focus{
    outline: none;
}



#box {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-rows: repeat(3 , calc(500px / 3)); /* try 1fr 1fr 1fr you dumb fuck*/
    grid-template-columns:repeat(3 , calc(500px / 3));
}

.cell{
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 2px;
    border-radius: 15px;
    background-color: #fff;
}

